<% content_for :title do %>
    <%= t('.goods_bought_report') %>
<% end %>

<% content_for :page_title do %>
    <i class="fa fa-file-text"></i> <%= t('.goods_bought_report') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<%= erp_datalist(
    url: erp_reports.backend_supplier_goods_bought_list_path,
    filters: [
        {
            text: t('.chart'), name: '', value: true, checked: false
        },
        {
            text: t('.report'), name: '', value: true, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.period'), name: '', value: '', checked: false
        },
        {
            text: t('.profit'), name: '', value: '', checked: false
        },
        {
            text: t('.invoice_discount'), name: '', value: '', checked: false
        },
        {
            text: t('.refund'), name: '', value: '', checked: false
        },
        {
            text: t('.sold_by'), name: '', value: '', checked: false
        }
    ],
    columns: [
        {
            text: t('.supplier_code'), name: 'supplier_code', value: true, checked: true
        },
        {
            text: t('.supplier_name'), name: 'supplier_name', value: true, checked: true
        },
        {
            text: t('.product_quantity'), name: 'product_quantity', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        }
    ]
) %>