Danh sách các đơn mua hàng/trả hàng của một sản phẩm

<table class="table table-bordered table-striped flip-content">
    <thead class="flip-content">
        <tr>
            <th width="20%" class="text-left">Mã hóa đơn</th>
            <th class="numeric">Thời gian giao dịch</th>
            <th class="numeric">Nhân viên</th>
            <th class="numeric">Khách hàng</th>
            <th class="numeric text-right">SL bán/trả</th>
            <th class="numeric text-right">Giá niêm yết</th>
            <th class="numeric text-right">Giá trị bán</th>
            <th class="numeric text-right">Chênh lệch</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <td class="text-left"><strong>SL hóa đơn: 4</strong></td>
            <td class="text-left"><strong></strong></td>
            <td class="text-left"><strong></strong></td>
            <td class="text-left"><strong></strong></td>
            <td class="numeric text-right"><strong>16</strong></td>
            <td class="numeric text-right"><strong>82,000</strong></td>
            <td class="numeric text-right"><strong>82,000</strong></td>
            <td class="numeric text-right"><strong>0</strong></td>
        </tr>
        
        <tr>
            <td class="text-left"><strong># HOADON0014</strong></td>
            <td class="text-left">2017-03-08 08:55</td>
            <td class="text-left">Supper Admin</td>
            <td class="text-left">Anh Hùng - HCM</td>
            <td class="numeric text-right">4</td>
            <td class="numeric text-right">82,000</td>
            <td class="numeric text-right">82,000</td>
            <td class="numeric text-right">0</td>
        </tr>
        
        <tr>
            <td class="text-left"><strong># TRAHANG012</strong></td>
            <td class="text-left">2017-03-08 09:00</td>
            <td class="text-left">Supper Admin</td>
            <td class="text-left">Hung Nguyen</td>
            <td class="numeric text-right">6</td>
            <td class="numeric text-right">-90,000</td>
            <td class="numeric text-right">-90,000</td>
            <td class="numeric text-right">0</td>
        </tr>
        
        <tr>
            <td class="text-left"><strong># HOADON0012</strong></td>
            <td class="text-left">2017-03-08 08:55</td>
            <td class="text-left">Supper Admin</td>
            <td class="text-left">Hung Nguyen</td>
            <td class="numeric text-right">6</td>
            <td class="numeric text-right">90,000</td>
            <td class="numeric text-right">90,000</td>
            <td class="numeric text-right">0</td>
        </tr>
        
    </tbody>
</table>